@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.navigation-button{
  @apply flex;
}

.search-input {
  @apply block w-full p-4 pl-10 rounded-md text-black text-base bg-[#d0d0d0] focus:bg-[#e7e7e7] outline-none border-x-2  focus:border-[#fff] placeholder:text-[#6e6e6e];
}

.search-input-button {
  @apply text-white absolute right-2.5 bottom-2.5 font-medium rounded-lg text-sm px-4 py-2 bg-black;
}

.card {
  @apply w-[200px] h-[150px] border border-[#ccc] rounded-md text-white font-bold flex items-center justify-center text-center;
}